<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add a product</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<body>
<h1>Add a product</h1>
<form action="#" th:action="@{/addproduct}" th:object="${product}" method="post">
    <p>Price: <input type="text" th:field="*{price}" /></p>
    <p>Description: <input type="text" th:field="*{description}" /></p>
    <p>Item Code: <input type="text" th:field="*{itemCode}" /></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>

</html>